@use "variables"as *;

// MOBILE
.conocimientos {
    @include flexCenter(column);
    margin: 6rem 0rem;

    .formacion {
        margin-bottom: 1.5rem;

        .container-formacion {
            display: grid;
            grid-template-columns: 1fr;
            gap: 3rem;

            .box-formacion {
                @include flexCenter(column);
                align-items: flex-start;
                justify-content: flex-start;
                width: 20rem;
                height: 20.5rem;
                background: var(--bg-card);
                padding: 1.8rem 0.5rem;
                border-top-right-radius: 28px;
                border-bottom-left-radius: 28px;
                position: relative;
                gap: 0.5rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20.5rem;
                    width: 20rem;

                    background:
                        linear-gradient(to right, var(--accent) 0.3rem, transparent 0.3rem) 0 0,
                        linear-gradient(to bottom, var(--accent) 0.3rem, transparent 0.3rem) 0 0,
                        linear-gradient(to left, var(--accent) 0.3rem, transparent 0.3rem) 100% 100%,
                        linear-gradient(to top, var(--accent) 0.3rem, transparent 0.3rem) 100% 100%;

                    background-repeat: no-repeat;
                    background-size: 7.3rem 4.3rem;
                    filter: drop-shadow(0 0 0.5rem var(--accent));
                }

                h2 {
                    color: var(--text-card);
                    text-align: center;
                    font-size: 1.2rem;
                    display: inline-flex;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;
                    padding: 0rem 0rem 0rem 1rem;

                }

                h3 {
                    color: var(--text-general);
                    text-align: center;
                    font-size: 1.1rem !important;
                    display: inline-flex;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;
                    text-align: left;
                    padding: 0rem 0rem 0rem 1rem;
                    font-size: 0.8rem;

                }

                ul {
                    padding: 0rem 0.5rem 1rem 1rem;
                }

                li {
                    margin: 0.5rem 0rem 0rem 0rem;
                    color: var(--text-general);
                    padding: 0rem 0.25rem 0rem 1.5rem;
                    font-size: 1rem;
                    font-family: var(--font-general);
                    position: relative;
                    list-style: none;

                    &::before {
                        content: "•";
                        position: absolute;
                        left: 0;
                        top: -0.6rem;
                        color: var(--title-card);
                        font-size: 1.5rem;
                    }
                }

                button {
                    border: none;
                    background: transparent;
                    transform: translate(9rem, -0.5rem);
                }

            }
        }
    }

    i {
        margin-left: 1rem;
        font-size: 1.3rem;
        margin: 1rem auto 2rem;
        color: var(--text-general);

    }

    .toolbox {
        margin-bottom: 1.5rem;


        .container-tools {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin-top: -2rem;


            .box-toolbox {
                @include flexCenter(column);
                padding: 1rem;
                background-color: var(--bg-card-light);
                backdrop-filter: blur(10px);
                border: 2px solid var(--border-card);
                box-sizing: border-box;
                border-top-right-radius: 28px;
                border-bottom-left-radius: 28px;
                width: 100%;
                margin: auto;
                gap: 2rem;


                h3 {
                    font-size: 0.8rem;
                    color: var(--title-card);
                }
            }
        }


    }
}

//TABLET

@media only screen and (min-width: 768px) {

    .conocimientos {
        margin: 6rem 0rem 4rem;

        .formacion {
            margin-bottom: 1rem;

            .container-formacion {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .box-formacion {
                    padding: 1.8rem 0.5rem;

                    li {
                        padding: 0rem 0.25rem 0.25rem 1.5rem;
                    }

                    h2 {
                        font-size: 1.1rem;
                    }

                    button {
                                            transform: translate(9rem, -1rem);
                    }
                }
            }
        }

        .toolbox {
            .container-tools {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
                margin-top: -1rem;
            }

        }
    }
}

//DESKTOP

@media only screen and (min-width: 1024px) {

    // MOBILE
    .conocimientos {
        margin: 0rem;

        i {

            margin-bottom: 1.5rem;
            font-size: 1.75rem;

        }

        .formacion {
            margin: 4rem auto 1rem;

            .container-formacion {
                grid-template-columns: 1fr 1fr;
                width: 71.25rem;
                margin: 4rem auto;

                .box-formacion {
                    width: 34rem;
                    gap: 1rem;
                    height: 20rem;
                    padding: 1.9rem 0.5rem;

                    &::before {
                        width: 34rem;
                        height: 19.9rem;
                    }

                    h2 {
                        font-size: 1.75rem;
                        padding: 1rem;
                        padding: 2rem 0rem 0rem 2rem;
                        line-height: 1rem;
                    }

                    h3 {
                        padding: 0rem 0rem 1rem 2rem;
                        font-size: 1.5rem !important;
                    }

                    ul {
                        margin-top: -1rem;
                        padding: 0rem 0rem 0rem 2rem;
                    }


                    li {
                        font-size: 1rem;
                        padding: 0rem 0.25rem 0.5rem 1.5rem;
                    }


                    &::before {
                        font-size: 1.8rem;
                    }

                    
                button {
                    transform: translate(22.8rem, 14rem);
                    position: absolute;
                }
                }


                .btn {
                    font-size: 1rem;
                }




            }
        }


        .toolbox {
            width: 70rem;
            gap: 2rem;

            .container-tools {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 2rem;
                margin: 4rem auto 6rem;

                .box-toolbox {
                    width: 16rem;

                    h3 {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}