@use "variables"as *;

// BODY CONTACTO MOB

    .contacto {

                .titulo {
            font-size: 2.5rem;
            font-weight: 600;
            color: var(--text-card);
            padding: 0.5rem 0rem 0.5rem;
    margin: 7rem auto 2rem;
            text-align: center;
        }

    .card-primary {
        margin: 0rem auto 4rem;
        height: 35rem;
        padding: 1rem;
        width: 21rem;

        &::before {
            height: 35rem;
            width: 21rem;
            top: 0rem;
        }

        .titulo-sin-boton {
            padding: 1.5rem;
            margin: 0rem auto;
        }

        .bajada {
            padding: 0rem 1rem;
        }

        .subtitulo {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            color: var(--text-general);
            text-align: center;
            padding: 0.5rem;
            text-align: center;
            font-weight: 500;
            font-family: var(--font-general);
        }

        .redes-contacto {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1.5rem;
            width: 310px;
                padding: 2rem 1rem 0rem;

            
                button {
                    width: 290px;
                }

            .datos-contacto {
                @include flexCenter(column);
                width: 100%;
                gap: 1rem;
            }

            h3 {
                @include flexCenter(row);
                font-size: 1rem;
                font-weight: 400;
                color: var(--text-general);
                gap: 1rem;
                margin-top: 0rem;

                a {
                    color: $white;
                }

                i {
                    width: 30px;
                    color: var(--text-general);
                }
            }
        }

        .btn {
            flex-direction: row;
            gap: 1rem;
            font-size: 1rem;
            margin: 0rem;
            justify-content: flex-start;
    padding-left: 5%;
        }

        i {
            font-size: 1.5rem;
            max-width: 35px;
            text-align: center;
            margin-left: 0rem;
            color: var(--text-botones);
        }
    }
}

@media only screen and (min-width: 768px) {

    // BODY CONTACTO TABLET
        .contacto {

                            .titulo {
                    font-size: 3rem;
                    padding: 1rem 0rem;
                }

            .card-primary {
margin: 0rem auto 4rem;
                width: 28rem;
                align-items: flex-start;
                height: 30rem;
                padding: 2rem;

                &::before {
                    width: 27.9rem;
                    left: 0rem;
                    top: 0rem;
                    height: 30rem;
                }

                .titulo-sin-boton {
                            padding: 0.5rem 0rem 1.5rem;
                }

                .subtitulo {
                    font-size: 1.25rem;
                    margin: 0rem auto 1rem;
                }

                .bajada {
                    padding: 0rem 0.5rem;
                }

                .redes-contacto {
                    padding: 1.5rem 0.5rem;
                    width: 390px;

                    button {
                        width: 380px;
                    }

                    h3 i {
                        margin-left: 0.8rem;
                    }
                }
            }
        }
    }

@media only screen and (min-width: 1024px) {

    // BODY CONTACTO DESKTOP
        .contacto {

            margin: -2rem auto 5em;

            .card-primary {
                margin: 0rem auto 4rem;
                width: 28rem;
                align-items: flex-start;
            }

        }
    }
