@use "variables"as *;

.body-contacto {
    background-image: var(--bg-contacto-mob);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    background-attachment: unset;

    .contacto {
        width: 100%;
    }

    .card-primary {
        margin: 9rem auto 5rem;
        height: 30rem;
        padding: 1rem;
        width: 21rem;

        &::before {
            height: 30rem;
            width: 21rem;
            top: -0.2rem;
        }

        .titulo {
            font-size: 3rem;
            font-weight: 400;
            color: var(--title-card);
            padding: 0rem 0rem 0.5rem;
            transform: translateX(0rem);
        }

        .bajada {
            font-size: 1rem;
            color: var(--text-general);
            text-align: left;
            padding: 0rem;
            font-family: var(--font-general);
            font-weight: 400;
        }

        .subtitulo {
            margin-bottom: 1rem;
            font-size: 1.25rem;
            color: var(--text-general);
            text-align: center;
            padding: 0.5rem;
            text-align: center;
            font-weight: 500;
        }

        .redes-contacto {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1.5rem;
            padding: 1.5rem 0rem;

            h4 {
                @include flexCenter(row);
                font-size: 1rem;
                font-weight: 400;
                color: var(--text-general);
                gap: 1rem;
                margin-top: 0rem;

                a {
                    color: $white;
                }

                i {
                    width: 30px;
                }
            }
        }

        .btn {
            flex-direction: row;
            gap: 0.3rem;
            font-size: 1rem;
            margin: 0rem;
        }

        i {
            font-size: 1.5rem;
            max-width: 35px;
            text-align: center;
            margin-left: 0rem;
        }
    }
}

@media only screen and (min-width: 768px) {

    .body-contacto {
        background-image: var(--bg-contacto-tablet);
        background-position: center;

        .contacto {
            width: 100%;

            .card-primary {
                margin: 10rem auto 5rem;
                width: 28rem;
                align-items: flex-start;

                &::before {
                    width: 27.9rem;
                    left: 0rem;
                }

                .titulo {
                    transform: translateX(4.5rem);
                    padding: 1rem 0rem;
                }

                .bajada {
                    padding: 0rem 1rem;
                }

                .redes-contacto {
                    padding: 1.5rem 1rem;
                }
            }
        }
    }

}

@media only screen and (min-width: 1024px) {

    .body-contacto {
        background-image: var(--bg-contacto-desk);
        background-position: center;

        .contacto {
            width: 50%;

            .card-primary {
                margin: 5rem auto;
                width: 28rem;
                align-items: flex-start;
            }
        }
    }
}