@use "variables"as *;

.body-contacto {
    background-image: var(--bg-contacto-mob);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: unset;

    .contacto {


        .card-info {
            @include flexCenter(column);
            width: 100%;

            .titulo {
                font-size: 3rem;
                font-weight: 400;
                color: var(--title-card);

                text-shadow:
                    0 0 5px var(--accent),
                    0 0 5px var(--accent),
                    0 0 10px var(--accent),
                    0 0 10px var(--accent);
                padding: 10rem 0rem 1rem;
            }

            .bajada {
                font-size: 0.75rem;
                color: var(--text-general);
                text-align: center;
                padding: 0.5rem;
                font-family: var(--font-general);
                text-align: center;
                font-weight: 400;
            }

            .titulo-general {
                text-align: center;
                    margin: 1.75rem auto 1rem;
            }

            .redes-contacto {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 2rem;
                padding: 3rem 0rem;

                h3,
                a,
                h4 {
                    @include flexCenter(row);
                    font-size: 1rem;
                    font-weight: 400;
                    color: var(--text-general);
                    gap: 1rem;
                    margin-top: 0rem;

                    a {
                        color: $white;
                    }
                }

                .btn-link:hover {
                    color: var(--accent);
                }

                i {
                    font-size: 1.5rem;
                    max-width: 35px;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    .body-contacto {
    background-image: var(--bg-contacto-tablet);

    .contacto {
        .card-info {
            .bajada {
                font-size: 0.8rem;
                width: 80%;
            }
        }
    }
    }

}

@media only screen and (min-width: 1024px) {

    .body-contacto {
        background-image: var(--bg-contacto-desk);
        background-position: center;

        .contacto {

            .card-info {
                width: 50%;

                .titulo {
                    font-size: 4rem;
                    padding: 3rem 10rem 1rem;
                }

                .bajada {
                    font-size: 1rem;
                    padding: 0rem 2rem 1.25rem;
                    margin: 0rem auto;
                }


                .titulo-general {
                    text-align: left;
                }

                .redes-contacto {
                    gap: 2rem;
                    padding: 3rem 0rem 2rem;

                    h3,
                    a,
                    h4 {
                        @include flexCenter(row);
                        font-size: 1.25rem;
                        line-height: 2rem;
                        gap: 1rem;
                    }

                                    i {
                    font-size: 2rem;
                    width: 40px;
                }
                }
            }
        }
    }
}