footer{
    color: $color3;
    background-color: $color2;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    
    box-shadow: 0px -5px 7px 0px rgba(59, 59, 59, 0.75);
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-top: 3rem;
    
    div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
        margin: 0px 0px 0px !important;
        padding-top: 0.5rem;

        p{
            text-align: center;
            align-content: space-around;
            color: $color3;
            font-size: 0.5rem;
            padding: 0.25rem 0.5rem 0rem;
            margin-right: 1rem;

            a{
                text-decoration: none;
                color: $color3;
            }

            a:hover{
                color: rgb(255, 131, 199);
            }
        }
    }

    .fab,
    .fa-brands,
    .fa-square-behance,
    .behance{
        font-size: 1.8rem;
        color: white;
        padding-bottom: 0.5rem;
    }

    .fa-square-behance,
    a.behance{
        font-size: 1.9rem;
        color: white;
        padding-bottom: 0.5rem;
        margin-top: -0.5rem !important;
    }
    .fab:hover,
    .fa-brands:hover,
    .fa-square-behance:hover,
    .behance:hover{
        color: $color1;
        text-shadow: $color3;
    }
}

.contBlur2{
    background-size: cover;
    width: 100%;
    max-width: 100% !important;
    height: fit-content;
    margin: 3rem 0rem 0rem;
    position: center;
    z-index: 0;
    overflow: hidden;
}

.contBlurNegro2{
    background-size: contain;
    width: 100%;
    height: fit-content;
    position: center;
    background-color: $color2;
    z-index: 0;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

@media only screen and (min-width:350px) and (max-width: 768px) {
    footer div p {
        margin-right: 0rem;
    }
}

