@use "variables"as *;

.container__habilidades {
    width: 100%;
    height: auto;
    @include flexCenter(column);
    gap: 3rem;
    margin: 3rem auto 4rem;
}

.secondary-section {
    width: 100%;
    overflow: hidden;
    padding-bottom: 2rem;

    .dos-botones {
        @include flexCenter(row);
        transform: translate(11.25rem, -1rem);
        gap: 1rem;

        .btn-square {
            transform: translate(0rem);
        }
    }
}

@media only screen and (min-width: 768px) {
    .container__habilidades {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2.5rem;
    }

}

@media only screen and (min-width: 1024px) {

    // HABILIDADES DESK
    .container__habilidades {
        margin: 0rem auto 6rem;

    }

    // REFERENCIAS DESK
    .secondary-section {
        margin: 3rem auto 2rem;

    }
}