@use "variables"as *;

.container__habilidades {
    width: 100%;
    height: auto;
    @include flexCenter(column);
    gap: 3rem;
    margin: 3rem auto 5rem;
}

.referencias {
    width: 100%;
    overflow: hidden;
    padding-bottom: 2rem;

}

@media only screen and (min-width: 768px) {
    .container__habilidades {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
    }

}

@media only screen and (min-width: 1024px) {

    // HABILIDADES DESK
    .container__habilidades {
        margin: 2.5rem auto 6rem;

    }

    // REFERENCIAS DESK
    .referencias {
        margin: 3rem auto 2rem;

    }
}