@use "variables"as *;


// HABILIDADES MOB
.container__habilidades {
    width: 100%;
    height: auto;
    @include flexCenter(column);
    gap: 3rem;
    margin: 3rem auto 4rem;

    .titulo-con-boton {
        padding: 2rem 0.5rem;
        gap: 1rem;
        justify-content: center;
    }

    .card-primary {
        margin-top: 5rem;

        .titulo-con-boton,
        .titulo-sin-boton {
            font-size: 20px;
        }

        .images-front-graph {
            background-image: var(--img-card-front-graph);
            width: 78%;
            min-height: 170px;
            -o-object-fit: contain;
            object-fit: contain;
            height: auto;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }


        .titulo-principal {
            color: var(--accent);
            text-align: center;
            padding: 2rem 0.5rem;
            font-size: 1.65rem;
            line-height: 1.65rem;

            span {
                color: var(--text-general);
            }
        }

        .titulo-principal-mobile {
            @include flexCenter(column);
            align-items: stretch;
            gap: 0.5rem;
            width: 300px;

            div:first-child {
                text-align: left;
            }

            div:nth-child(2) {
                text-align: center;
            }

            div:last-child {
                text-align: right;
            }
        }

        .titulo-principal-desktop {
            display: none;
        }
    }
}


// SECCION PROYECTOS PRINCIPALES MOB
.proyectos {

    margin: 3rem auto 4em;

    .container-cards-web {

        display: grid;
        justify-content: center;
        align-items: start !important;
        grid-template-columns: 1fr;
        gap: 3rem;


        // CARDS PROYECTOS PRINCIPALES

        .card-primary-proyectos {
            min-height: 24rem;
            @include flexCenter(column);
            justify-content: flex-start;
            background-color: var(--bg-card-light);
            backdrop-filter: blur(2rem);
            border-top-right-radius: 28px;
            border-bottom-left-radius: 28px;
            position: relative;
            width: fit-content;
            max-width: 92%;
            min-width: 92%;
            margin: auto;
            box-shadow:
                5px 4px 4px rgba(0, 0, 0, 0.1), 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
            align-self: start;


            .contenedor-titulo-y-tags {
                @include flexCenter(column);
                padding: 2rem 0rem 0.25rem;
                gap: 1rem;

                .titulo-sin-boton {
                    @include flexCenter(column);
                    width: fit-content;
                    color: var(--title-card);
                    text-align: center;
                    font-size: 20px;
                    line-height: 28px;
                }

                .contenedor-tags {
                    position: relative;
                    @include flexCenter(row);
                    gap: 0.5rem;
                    top: 0;
                    right: 0;
                    white-space: nowrap;
                    flex-wrap: wrap;

                    .tag {
                        color: var(--text-botones);
                        font-size: 1rem;
                        font-weight: 600;
                        background-color: var(--tag-bg);
                        padding: 0.2rem 0.4rem;
                        border-radius: 0.25rem;
                        min-width: 3rem;
                        width: fit-content;
                    }

                    .javascript {
                        color: var(--text-botones);
                        background-color: var(--javascript);
                    }

                    .typescript {
                        color: var(--text-botones);
                        background-color: var(--typescript);
                    }

                    .css {
                        color: var(--text-botones);
                        background-color: var(--css);
                    }

                    .sass {
                        color: var(--text-botones);
                        background-color: var(--sass);
                    }
                }
            }

            .contenedor-general,
            .contenedor-left,
            .contenedor-right {
                @include flexCenter(column);
                gap: 1rem;
            }

            .contenedor-general {

                .contenedor-left {

                    img {
                        width: 280px;
                        height: auto;
                        border-top-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        min-height: auto;
                            border: 1.5px solid var(--border-card);
                    }

                    .img-guinderstudio {
                        background-image: var(--img-guinderstudio);
                        background-position: center;
                        background-size: cover;
                        width: 280px;
                        height: 114.66px;
                        border-top-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        min-height: auto;
                            border: 1.5px solid var(--border-card);
                    }
                }

                .contenedor-right {
                    align-items: flex-start;
                    min-width: 330px;
                    padding: 0rem 3.8rem 0rem 2rem;
                    gap: 0.5rem;

                    .info-item {

                        b,
                        p {
                            color: var(--text-general);
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }

            .contenedor-info-cards-proyectos {
                @include flexCenter(column);
                gap: 1rem;
                align-items: flex-start;
                padding: 0rem 2rem 2rem;


                p {
                    margin: 0rem;
                    font-size: 14px;
                    line-height: 18px;
                    color: var(--text-general);
                    font-family: var(--font-general);
                    max-width: 20rem;
                    padding-top: 1rem;
                }

                .contenedor-botones-cards-proyectos {
                    @include flexCenter(column);
                    gap: 1rem;
                    min-width: 100%;
                }
            }

            .btn-square-mas {
                transform: translate(8.6rem, -1rem);
            }

        }

        .card-primary-proyectos.card-doble {
            background-color: var(--bg-card);

            .titulo-sin-boton {
                color: var(--accent);
            }
        }
    }

}

// SECCION OTROS PROYECTOS MOB
.otros-proyectos {
    @include flexCenter(column);
    gap: 0.5rem;
}

.row-proyectos {
    @include flexCenter(column);
    gap: 2rem;
    width: 100%;
    margin: auto;
    align-items: center;
}


@media only screen and (min-width: 768px) {

    // HABILIDADES TABLET
    .container__habilidades {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2.5rem;
        margin-top: 4rem;

        .card-primary {
            min-width: 664px;

            p {
                max-width: 39rem;
                padding-bottom: 2.5rem;
            }

            .images-front-graph {
                min-height: 238px;
                width: 70%;
            }




            .titulo-principal-mobile {
                display: none;
            }

            .titulo-principal-desktop {
                display: inline-flex;
                gap: 1rem;
                color: var(--accent);
                text-align: center;
                padding: 2rem 0.5rem 1.3rem;
                font-size: 1.8rem;

                span {
                    color: var(--text-general);
                }
            }
        }
    }


    // SECCION PROYECTOS TABLET
    .proyectos {
        margin: 0rem auto 3rem;

        .container-cards-web {
            margin: 1rem auto 0rem;
            grid-template-columns: 1fr;
            gap: 2.5rem;

            .card-primary-proyectos {
                min-width: 600px;
                max-width: 600px;
                min-height: 327px;
                padding: 0rem 1.5rem 1.5rem;
                margin-top: 0;

                .contenedor-tags {
                    padding: 0.5rem 0rem 1rem;
                    width: 100%;
                    justify-content: flex-start;
                }

                .contenedor-titulo-y-tags {
                    flex-direction: row;
                    padding: 2rem 0rem 0.3rem;
                    gap: 0;
                    justify-content: space-between;
                    min-width: 552px;
                }


                .contenedor-general {
                    flex-direction: row-reverse;
                    text-align: left;
                    justify-content: space-between;
                    min-width: 552px;

                    .contenedor-left,
                    .contenedor-right {
                        flex-direction: column;
                    }

                    .contenedor-left {
                        img {
                            width: 100%;
                            min-height: auto;
                            max-width: 280px;
                            min-width: 280px;
                        }


                    }

                    .contenedor-right {
                        min-width: 200px;
                        padding: 0rem;
                    }
                }

                .contenedor-info-cards-proyectos {
                    flex-direction: column;
                    gap: 1.5rem;
                    min-width: 600px;
                    padding: 2rem 1.5rem 1rem;

                    p {
                        padding: 0;
                        max-width: 600px;
                        font-size: 16px;
                        line-height: 20px;
                    }


                    .contenedor-botones-cards-proyectos {
                        flex-direction: row;
                    }
                }

                .btn-square-mas {
                    transform: translate(16rem, 0.5rem);
                }

            }

            .card-primary-proyectos.card-doble {
min-width: 664px;
max-width: 664px;

.titulo-sin-boton {
font-size: 22px;
}

.contenedor-info-cards-proyectos {
    padding: 2rem 0rem 1rem;

    p {
        min-width: 616px;
    }
}
                .card-doble-title {
                    @include flexCenter(row);
                    justify-content: space-between;
                    padding: 2rem 0rem 1rem;
                    width: 100%;


                    .contenedor-titulo-y-tags {
                        min-width: 200px;
                        padding: 0;
                    }

                    .contenedor-tags {
                        flex-direction: row;
                        padding: 0;
                        justify-content: center;
                        width: fit-content;
                    }
                }

                .contenedor-general {
                    .contenedor-left {
                        .img-guinderstudio {
    background-size: contain;
    width: 300px;
    height: 126px;
                        }
                    }
                }


                .btn-square-mas {
                    transform: translate(18rem, 0.5rem);
                }
            }

        }


    }



    // SECCION OTROS PROYECTOS TABLET
    .otros-proyectos {
        gap: 0rem;

        .secondary-section {
            margin-top: 1.25rem;
        }
    }

    .row-proyectos {
        flex-direction: row;
        gap: 2rem;
        max-width: 652px;
        margin: 2rem auto 0rem;
        align-items: flex-start;
    }

}

@media only screen and (min-width: 1024px) {

    .seccion-presentacion {
        margin-top: 4rem;
    }

    // HABILIDADES DESK
    .container__habilidades {
        margin: 1rem auto 6rem;
        gap: 4rem;


        .card-primary {
            min-height: 27rem;
            min-width: 900px;

            .images-front-graph {
                flex-direction: row;

                .img-front,
                .img-graph {
                    min-height: 300px;
                    width: 350px;
                    object-fit: cover;
                }

            }

            p {
                max-width: 54rem;
                padding-bottom: 3rem;
                font-size: 18px;
            }

            .titulo-con-boton,
            .titulo-sin-boton {
                font-size: 24px;
            }

            .titulo-principal-desktop {
                font-size: 2rem;
                padding: 2.5rem 0 1.8rem;
            }
        }

    }



    // SECCION PROYECTOS PRINCIPALES DESKTOP
    .proyectos {
        min-height: 77rem;
        margin: 7rem auto 0rem;

        .container-cards-web {
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            row-gap: 3.5rem;
            margin: -3rem auto;
            max-width: 1260px;
            grid-auto-flow: row;
            grid-auto-rows: max-content;
            align-items: start;
            grid-auto-flow: row dense;
            margin-bottom: 7rem;

                    .card-primary-proyectos.card-doble {
            grid-column: span 2;
            min-width: 1240px;
            max-width: 1240px;
            min-height: 270px;

            .card-doble-title {
                max-width: 1100px;
            }

            .contenedor-general {
                min-width: 1100px;


                .contenedor-left {

                    .img-guinderstudio {
                        min-width: 580px;
                        background-size: cover;
                    }
                }
            }

            .btn-square-mas {
                transform: translate(36rem, 0.5rem);
            }

            .contenedor-info-cards-proyectos {
                min-width: 1100px;

                p {
                    max-width: 1100px;
                }
            }
        }
        }




    }

    .card-primary-proyectos {
        align-self: start;
        margin-top: 0;
    }


    // SECCION OTROS PROYECTOS DESKTOP
    .otros-proyectos {
        gap: 0rem;
        margin: -3rem 0rem 0rem;
    }


}