@use "variables"as *;


// HABILIDADES MOB
.container__habilidades {
    width: 100%;
    height: auto;
    @include flexCenter(column);
    gap: 3rem;
    margin: 2rem auto 4rem;

    .h3-con-boton {
        padding: 2rem 0.5rem;
    }
}

// SECONDARY SECTION MOB
.secondary-section {
    width: 100%;
    overflow: hidden;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {

    // HABILIDADES TABLET
    .container__habilidades {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2.5rem;
    }
}

@media only screen and (min-width: 1024px) {

    // HABILIDADES DESK
    .container__habilidades {
        margin: 0rem auto 6rem;
    }

    // SECONDARY SECTION DESKTOP
    .secondary-section {
        margin: 3rem auto 2rem;

    }
}