// VARIABLES

$light-pink: rgb(255, 111, 212);

$light-pink-disabled: rgba(255, 111, 212, 0.5);


$white: rgb(255, 255, 255);

$disabled-light: rgba(255, 255, 255, 0.523);
$disabled-dark: rgba(0, 0, 0, 0.521);
$black-light: rgba(18, 19, 24, 0.54);
$black-dark: rgb(15, 15, 15);
$black: rgb(0, 0, 0);
$black-dark-cards: rgb(20, 19, 29);
$light-pink-light: rgb(244, 194, 228);
$dark-pink: rgb(207, 45, 134);

$dark-pink-disabled: rgba(207, 45, 134, 0.5);


$dark-pink-dark: rgb(137, 7, 78);
$transparent: rgba(0, 0, 0, 0);
$bg-dark: rgb(40, 40, 48);
$font-main: "Inter",
sans-serif;
//$pink-light-light: rgb(240, 213, 231);
$pink-light-light: rgb(240, 195, 225);
$btn-square: rgb(250, 242, 248);

@mixin flexCenter ($direct) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direct;
}

// THEME LIGHT MODE

:root {

    // Body

    --bg-body: url('../img/bg-light-grey-5-ty.png') center/cover no-repeat scroll;

    // Header & Footer

    --bg-header-footer: #{$dark-pink-dark};
    --line: #{$white};

    // Variables generales theme mode

    --text-general: #{$black};
    --accent: #{$dark-pink};
    --title-menu: #{$light-pink-light};
    --font-general: #{$font-main};
    --botones: #{$dark-pink};
    --botones-bg: #{$dark-pink};
        --botones-bg-disabled: #{$dark-pink-disabled};
    --tag-bg: #{$dark-pink-dark};
    --text-botones: #{$white};
    --btn-square: #{$btn-square};

    --disabled: #{$disabled-light};
    // Cards

    --bg-card: #{rgba($white, 0.75)};
    --text-card: #{$dark-pink};
    --bg-card-light: #{rgba($white, 0.75)};
    --bg-dark-pink: #{$dark-pink};
    --border-card: #{$dark-pink};
    --title-card: #{$black};
    --bg-btn-hover: #{$dark-pink-dark};

    --img-card-front: #{url('../img/img-front.png')};
    --img-card-graph: #{url('../img/img-graph.png')};
    --img-card-social: #{url('../img/img-social.png')};

    // Contacto

    --bg-contacto-desk: url('../img/desk-contacto-white-ty.png');
    --bg-contacto-mob: url('../img/mob-contacto-light-ty.png');
    --bg-contacto-tablet: url('../img/bg-tablet-white-ty.png');
}


// THEME DARK MODE

[data-theme="dark"] {

    // Body

    --bg-body: #{$bg-dark};

    // Header

    --bg-header-footer: #{$black-dark};
    --line: #{$light-pink};
    --text-botones: #{$black};

    // Variables generales theme mode

    --text-general: #{$white};
    --accent: #{$light-pink};
    --botones: #{$white};
    --botones-bg: #{$light-pink};
        --botones-bg-disabled: #{$light-pink-disabled};
    --tag-bg: #{$light-pink-light};
    --btn-square: #{$black-dark-cards};

        --disabled: #{$disabled-dark};
    // Cards

    --bg-card: #{$black-dark-cards};
    --text-card: #{$light-pink};
    --bg-card-light: #{$black-light};
    --bg-dark-pink: #{$black-dark};
    --border-card: #{$light-pink};
    --title-card: #{$white};
    --title-menu: #{$light-pink};
    --bg-btn-hover: #{$light-pink};

    --img-card-front: #{url('../img/img-front-dark.png')};
    --img-card-graph: #{url('../img/img-graph-dark.png')};
    --img-card-social: #{url('../img/img-social-dark.png')};

    // Contacto

    --bg-contacto-desk: url('../img/desk-contacto-new-ty.png');
    --bg-contacto-mob: url('../img/mob-contact-new-ty.png');
    --bg-contacto-tablet: url('../img/bg-tablet-dark-ty.png');
}