@use "variables"as *;

// SECCION PROYECTOS PRINCIPALES MOB
.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto 4em;

    .container-cards-web {

        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    span {
        @include flexCenter(row);
    }
}

// SECCION OTROS PROYECTOS MOB
.otros-proyectos {
    @include flexCenter(column);
    gap: 0.5rem;
}

.row-proyectos {
    @include flexCenter(column);
    gap: 2rem;
    width: 100%;
    margin: auto;
    align-items: center;
}


@media only screen and (min-width: 768px) {

    // SECCION PROYECTOS TABLET
    .proyectos {
        margin: 0rem auto 3rem;

        .container-cards-web {
            margin: 1rem auto 0rem;
            grid-template-columns: 1fr 1fr;
            gap: 2.5rem;
        }
    }

    // SECCION OTROS PROYECTOS TABLET
    .otros-proyectos {
        gap: 0rem;

        .secondary-section {
            margin-top: 1.25rem;
        }
    }

    .row-proyectos {
        flex-direction: row;
        gap: 2rem;
        max-width: 652px;
        margin: 2rem auto 0rem;
        align-items: flex-start;
    }

}

@media only screen and (min-width: 1024px) {


    // SECCION PROYECTOS PRINCIPALES DESKTOP
    .proyectos {
        height: 78rem;
        margin: 2rem auto 8rem;

        .container-cards-web {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3rem;
            margin-top: -5rem;
        }
    }

    // SECCION OTROS PROYECTOS DESKTOP
    .otros-proyectos {
        gap: 0rem;
        margin: -7rem 0rem 0rem;
    }

}