@use "variables"as *;

// SECCION PROYECTOS PRINCIPALES MOB

.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto 4em;

    .container-cards-web {

        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 3rem;
    }

        span {
    @include flexCenter(row);
}

}


// SECCION OTROS PROYECTOS MOB

.otros-proyectos {
    @include flexCenter(column);
    gap: 2rem;
}

.row-proyectos {
    @include flexCenter(column);
    gap: 2rem;
    width: 100%;
    margin: auto;
    align-items: center;
}


@media only screen and (min-width: 768px) {

    .proyectos {
        margin: 0rem auto 3rem;

        .container-cards-web {
            margin: 1rem auto 0rem;
            grid-template-columns: 1fr 1fr;
            gap: 2.5rem;
        }
    }

    .otros-proyectos {
        gap: 0rem;
    }

    .row-proyectos {
        flex-direction: row;
        gap: 2rem;
        max-width: 652px;
        margin: 2rem auto 0rem;
        align-items: flex-start;
    }

}

@media only screen and (min-width: 1024px) {


    // SECCION PROYECTOS PRINCIPALES DESK

    .proyectos {
        height: 78rem;
        margin: 2rem auto 8rem;

        .container-cards-web {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3rem;
        }

    }

    // SECCION OTROS PROYECTOS DESK

    .otros-proyectos {
        max-width: 673px;
        margin: 3rem auto 6rem;
    }

}