@use "variables"as *;

// SECCION PROYECTOS PRINCIPALES MOB

.proyectos {
                                  display: flex;
                    justify-content: center;
                    align-items: center;
                            margin: 0rem auto 4em;

            .container-cards-web {

                                  display: grid;
                    justify-content: center;
                    align-items: center;
                    grid-template-columns: 1fr;
                    gap: 2rem;

                .card-primary {
                    height: 23rem;
                                            width: 19.4rem;
                    @include flexCenter(column);
                    background-color: var(--bg-card);
                    backdrop-filter: blur(2rem);
                                            border-top-right-radius: 28px;
                border-bottom-left-radius: 28px;


                    &::before {
                        content: '';
                        position: absolute;
                        height: 23rem;
                        width: 19.4rem;
                        overflow: hidden;

                        background:

                            linear-gradient(to right, var(--accent) 0.3rem, transparent 0.3rem) 0 0,
                            linear-gradient(to bottom, var(--accent) 0.3rem, transparent 0.3rem) 0 0,


                            linear-gradient(to left, var(--accent) 0.3rem, transparent 0.3rem) 100% 100%,
                            linear-gradient(to top, var(--accent) 0.3rem, transparent 0.3rem) 100% 100%;

                        background-repeat: no-repeat;
                        background-size: 7.3rem 4.3rem;


                        filter: drop-shadow(0 0 0.5rem var(--accent));
                        border-radius: 2px;
                    }

                    .btn {
                        margin-top: 1rem;
                    }
                }

                h3 {
                    color: var(--text-card);
                    text-align: center;
                    padding: 1rem 2rem 2rem;
                    font-size: 1.1rem;
                }

                img {
                    width: 100%;
                    height: auto;
                }

                p {
                    padding: 1.75rem 2rem;
                    margin: 0rem;
                    font-size: 0.75rem;
                    color: var(--text-general);
                        font-family: var(--font-general);
                }


            }






        }




// SECCION OTROS PROYECTOS MOB

.otros-proyectos {
     @include flexCenter(column);
    gap: 2rem;
}

.row-proyectos {
     @include flexCenter(column);
    gap: 2rem;
    width: 100%;
    margin: auto;
            align-items: center;
}


@media only screen and (min-width: 768px) {



    .proyectos {
        margin: 0rem auto 3rem;

        .container-cards-web {
        margin: 1rem auto 0rem;
                            grid-template-columns: 1fr 1fr; 
    }
    }
    .otros-proyectos {

    gap: 0rem;
}


    .row-proyectos {
        flex-direction: row;
        gap: 2rem;
        max-width: 652px;
             margin: 2rem auto 0rem;
             align-items: flex-start;
    }



}

@media only screen and (min-width: 1024px) {


    // SECCION PROYECTOS PRINCIPALES DESK

    .proyectos {
        height: 48rem;
                margin: 0rem auto 5rem;

        .container-cards-web {
                            grid-template-columns: 1fr 1fr 1fr;

                    .card-primary {
                        color: $white;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        height: 23rem;


                        h3 {
                            color: var(--title-card);
                            text-align: center;
                            font-size: 1.3rem;
                            margin: 0rem auto;
                            padding: 2rem 1rem;
                        }

                        p {
                            padding: 2rem 2rem 0rem 2rem;
                            margin-left: 0rem;
                        }

                        &::before {
                            width: 19.5rem;
                            height: 23rem;
                            top: 0;
                        }

                        .btn{
                            margin-top: 1rem;
                        }
                    }

                }

            }



        

    // SECCION OTROS PROYECTOS DESK

    .otros-proyectos {
        max-width: 673px;
        margin: 3rem auto 6rem;
    }

}