



.container-cards-web{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    gap: 0.5rem;

    .card{
        width: 14rem;
        height: 18rem;
        margin: 0.75rem auto 0rem auto;
    }

    h3{
        color: $color2;
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
    }

    img{
        width: 13rem;
        height: 5rem;
        margin: auto;
    }

    p{
        padding: 1rem;
        margin: 0rem;
        font-size: 0.75rem;
        color: $color6;
    }

    .btn-info-web{
        transform: translate(10px, 10px);
    }

    .btnPink {
        background-color: $color1;
        color: $color3;
        padding: 0.5rem 0.75rem;
        border-radius: 1rem;
        font-size: .75rem;
    }

}

.carousel-control-prev{
    left: -0.50rem;
}

.carousel-control-next{
    right: -0.50rem;
}

.carousel-control-prev,
.carousel-control-next{
    top: 15rem;
}

    
.titulo-webs{
    color: $color3;
    text-align: center;
    margin: 1rem 1rem -2rem;
    text-shadow: 0px 0px 20px $color1;
    font-size: 1rem;
}

@media only screen and (min-width: 767px){
    .container-cards-web{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3rem 2rem;
        gap: 1rem;
    
        .card{
            width: 280px;
            height: 19rem;
            margin: 0.75rem 0rem 0rem 0rem;
        }
    
        h3{
            color: $color2;
            text-align: center;
            padding: 1rem;
            font-size: 1rem;
        }
    
        img{
            width: 13rem;
            height: 5rem;
            margin: auto;
        }
    
        p{
            padding: 1rem;
            margin: 0rem;
            font-size: 0.75rem;
            color: $color6;
        }
    
        .btnPink {
            background-color: $color1;
            color: $color3;
            padding: 0.5rem 0.75rem;
            border-radius: 1rem;
            font-size: .75rem;
        }
    }
    
    .titulo-webs{
        color: $color3;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: -2rem;
        text-shadow: 0px 0px 20px $color1;
    }
}