@use "variables"as *;
@use "index";
@use "web";
@use "conocimientos";
@use "contact";

// ESTILOS GENERALES

* {
    font-family: "Ubuntu", sans-serif;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    background: var(--bg-body);
    overflow-y: scroll;
}

button {
    background-color: transparent;
    border: none;
}

.full-width {
    width: 100%;
    margin: 0rem;
}

.hidden-xs {
    display: none;
}

.visible-xs {
    display: block;
}

.texto-oculto-accesibilidad {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.titulo-general {
    font-weight: 700;
    color: var(--text-general);
    font-size: 1.5rem;
    text-align: center;
    margin: 1.75rem auto 2.5rem;
}

.btn {
    background-color: var(--accent);
    color: $white;
    padding: 0.5rem;
    height: auto;
    border-radius: 2px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    z-index: 1;
    @include flexCenter(column);
}

.btn:hover {
    color: $white;
    background-color: var(--bg-btn-hover);
}

.btn-square {
    background: var(--bg-card-light);
    color: var(--botones);
    cursor: pointer;
    font-family: var(--font-general);
    font-size: 1.5rem;
    font-weight: 700;
    transform: translate(15.6rem, -1rem);
    border: 3px solid var(--border-card);
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    margin-top: 1rem;
    display: block;
}

.btn-link:hover {
    color: var(--accent);
}

.intro {
    width: 84%;
    margin: 8rem auto 2rem;

    h2 {
        font-size: 1rem;
        color: var(--text-general);
        text-align: center;
        padding: 0.5rem;
        font-family: var(--font-general);
        text-align: center;
        font-weight: 400;
    }
}

// MENU MOB

header {
    background-color: var(--bg-header-footer);
    height: 4.5rem;
    position: fixed;
    width: 100% !important;
    margin-right: 0px !important;
    top: 0%;
    border-bottom: 3px solid var(--line);
    z-index: 1000;
    display: flex;
    align-items: center;

    .container-nav {
        width: 100%;
        padding: 0rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 100%;

        .logo img {
            width: 4.5rem;
        }

        .theme-switch-wrapper {
            order: 2;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            .theme-checkbox {
                display: none;
            }

            .theme-label {
                width: 2.8rem;
                height: 1.2rem;
                border: 2px solid $white;
                border-radius: 50px;
                position: relative;
                cursor: pointer;
                display: block;

                .ball {
                    width: 0.9rem;
                    height: 0.9rem;
                    background-color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 0.15rem;
                    transform: translateY(-50%);
                    transition: transform 0.3s ease;
                }
            }

            .theme-checkbox:checked+.theme-label {
                background-color: var(--accent);
                border-color: $white;

                .ball {
                    transform: translate(1.4rem, -50%);
                }
            }
        }

        .site__nav {
            top: 100%;
            right: 0%;
            height: fit-content;
            position: absolute;
            background-color: var(--bg-header-footer);
            clip-path: circle(0 at top right);
            transition: clip-path ease-in-out 0.5s;
            z-index: 100;

            ul {
                padding-top: 0%;
                padding-left: 7%;
                padding-right: 7%;
                list-style: none;
                width: 11.5rem;
                margin-bottom: 0px !important;
                height: fit-content;
                border: 3px solid var(--line);
                border-right: 0px;

                li {
                    border-bottom: 2px solid var(--line);

                    a,
                    p {
                        color: $white;
                        display: block;
                        padding: 0rem;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.75rem;
                        margin: 1rem;
                        outline: none !important;

                        &:hover,
                        &:focus,
                        &.active {
                            background-color: transparent !important;
                            border: none !important;
                            color: $pink-light-light !important;
                            font-weight: bold !important;
                            outline: none !important;
                        }
                    }
                }

                li:last-child {
                    border-bottom: none;
                }
            }
        }

        .site__navAbrir {
            clip-path: circle(150% at top right);
            height: fit-content;
            z-index: 100;
        }

        .menu-toggle {
            width: 3.5rem;
            height: 3.25rem;
            border: 2px solid $white;
            border-radius: 0.3rem;
            background: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menu-abierto .menu-hamburguesa {
            transform: rotate(45deg);

            &::before {
                opacity: 0;
            }

            &::after {
                transform: translateY(0rem) rotate(-90deg);
            }
        }

        div.menu-hamburguesa {
            width: 1.5rem;
            height: 0.25rem;
            position: relative;
            background-color: $white;
        }

        .menu-hamburguesa::before,
        .menu-hamburguesa::after {
            content: "";
            display: block;
            background-color: $white;
            height: 0.25rem;
            width: 1.5rem;
            border-radius: 0.5rem;
            transition: all ease-in-out 0.4s;
            position: absolute;
        }

        .menu-hamburguesa::before {
            transform: translateY(-0.45rem);
        }

        .menu-hamburguesa::after {
            transform: translateY(0.45rem);
        }
    }
}

// FOOTER MOB

footer {
    background-color: var(--bg-header-footer);
    background-size: cover;
    font-family: var(--font-general);
    background-position-x: center;
    width: 100%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 16rem;
    padding: 1rem 0rem;

    div:first-child {
        @include flexCenter(row);
        gap: 1rem;
    }

    div:nth-child(2),
    div:nth-child(3) {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    p {
        text-align: center;
        color: $white;
        font-size: 1rem;
        line-height: 1.35rem;
        padding: 0rem 1rem;
    }

    .fab,
    .fa-brands,
    .fa-square-behance,
    .behance {
        font-size: 1.8rem;
        color: $white;
    }

    .fab:hover,
    .fa-brands:hover,
    .fa-square-behance:hover,
    .behance:hover {
        color: $light-pink;
    }
}

// CARDS PRIMARY

.card-primary {
    height: 25rem;
    width: 19.4rem;
    @include flexCenter(column);
    justify-content: flex-start;
    background-color: var(--bg-card);
    backdrop-filter: blur(2rem);
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 25rem;
        width: 19.4rem;
        overflow: hidden;
        background:
            linear-gradient(to right, var(--accent) 0.3rem, transparent 0.3rem) 0 0,
            linear-gradient(to bottom, var(--accent) 0.3rem, transparent 0.3rem) 0 0,
            linear-gradient(to left, var(--accent) 0.3rem, transparent 0.3rem) 100% 100%,
            linear-gradient(to top, var(--accent) 0.3rem, transparent 0.3rem) 100% 100%;
        background-repeat: no-repeat;
        background-size: 7.3rem 4.3rem;
        filter: drop-shadow(0 0 0.5rem var(--accent));
        border-radius: 2px;
    }

    .btn {
        margin-top: 1rem;
    }

    h3 {
        color: var(--title-card);
        text-align: center;
        padding: 2rem 0.5rem;
        font-size: 1.2rem;
    }

    .h3-con-boton {
        @include flexCenter(row);
        padding: 1rem 0.5rem;
        gap: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;

        .btn-square {
            text-decoration: none;
            padding: 0.7rem;
            @include flexCenter(column);
            transform: translateX(0rem);
            margin-top: 0rem;

            i {
                margin: 0rem;
            }
        }
    }

    img {
        width: 100%;
        height: 125px;
    }

    p {
        padding: 1rem 1rem 0rem 1rem;
        margin: 0rem;
        font-size: 1rem;
        color: var(--text-general);
        font-family: var(--font-general);
    }

    i {
        margin-left: 1rem;
    }

    %card-primary-habilidad-img {
        width: 85%;
        height: 125px;
        object-fit: cover;
        margin: -0.5rem auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        background-size: cover;
        background-position: center;
    }

    .img-front {
        background-image: var(--img-card-front);
        @extend %card-primary-habilidad-img;
    }

    .img-social {
        background-image: var(--img-card-social);
        @extend %card-primary-habilidad-img;
    }

    .img-graph {
        background-image: var(--img-card-graph);
        @extend %card-primary-habilidad-img;
        height: 108px;
    }
}

// SWIPERS CARDS SECONDARY

.swiper-cards-secondary {
    width: 100%;
    margin: 0 auto;

    .swiper {
        width: 320px;
        height: auto;
        overflow: hidden;
        padding: 0rem 0 3.75rem;
        transition: height 0.6s ease-in-out;

        .swiper-slide {
            min-height: 7rem;
            height: auto;
            width: 100%;
            display: flex;
        }

        .swiper-button-prev {
            left: 4.35rem;
        }

        .swiper-button-next {
            left: 14.5rem;
        }
    }
}

.swiper-horizontal>.swiper-pagination-bullets {
    top: auto;
    bottom: 10px;

    .swiper-pagination-bullet {
        background-color: var(--title-card);
    }
}

.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 30px;
    background-color: var(--accent);
}

.swiper-button-next,
.swiper-button-prev {
    top: auto !important;
    bottom: 5px !important;
    color: var(--title-card);
    width: 1.5rem;
    height: 1.5rem;
    z-index: 10;
}

// ESTILOS CARDS SECONDARY

.cards-expandibles {
    .card.card-secondary {
        padding: 1rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: var(--bg-card-light);
        backdrop-filter: blur(10px);
        border: 2px solid var(--border-card);
        box-sizing: border-box;
        transition: all 0.6s ease-in-out;
        width: 100%;
        max-width: 320px;
        border-top-right-radius: 28px;
        border-bottom-left-radius: 28px;
    }

    .expandible-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.6s ease-in-out;

        &.abierto {
            max-height: 700px;
        }
    }

    &.card.card-secondary-abierta {
        height: auto !important;
    }

    h3 {
        font-size: 1.25rem;
        color: var(--text-card);
        margin: 1rem 2rem 0rem;
    }

    .subtitulo {
        color: var(--text-general);
        font-size: 1rem;
        line-height: 1.1rem;
        margin: 1rem 0rem;
    }

    p {
        color: var(--text-general);
        font-size: 1rem;
        line-height: 1.1rem;
        font-family: var(--font-general);
        width: 265px;
        padding-left: 2rem;
        margin: 0rem 0rem 1rem;
    }

    .texto-info {
        padding-top: 1rem;
    }

    .card-secondary .btn {
        margin-left: 2rem;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) {

    .hidden-xs {
        display: block;
    }

    .visible-xs {
        display: none;
    }

    .titulo-general {
        font-size: 1.75rem;
        margin: 1rem auto 2rem;
    }

    .intro {
        width: 85%;

        h2 {
            font-size: 1.1rem;
        }
    }

    header .container-nav .theme-switch-wrapper {
        order: 2;
        position: absolute;
        left: 50%;
        transform: translateX(200px);
    }

    footer {
        flex-direction: row;
        height: 7rem;
        gap: 0.25rem;

        div {
            gap: 0.5rem;
        }
    }

    .swiper-cards-secondary .swiper {
        width: 664px;
        margin-top: 1rem;

        .card {
            width: 320px;
        }

        .swiper-button-prev {
            left: 15rem;
        }

        .swiper-button-next {
            left: 25rem;
        }
    }

    .cards-expandibles {
        .card.card-secondary {
            width: 320px;
            justify-content: flex-start;
        }
    }
}

@media only screen and (min-width: 1024px) {

    body {
        margin: 9rem auto 0rem;
    }

    .hidden-xs {
        display: block;
    }

    .visible-xs {
        display: none;
    }

    .btn-link {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.85rem;
    }

    .titulo-general {
        color: var(--text-general);
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .intro {
        width: 75%;
        margin: 0rem auto;

        h2 {
            font-size: 1.25rem;
            margin: 0rem auto;
            padding: 2rem 0rem 4rem;
        }
    }

    // MENU DESK FIX
    header {
        height: 4.5rem;
        padding: 0;
        position: fixed;
        border-bottom: 2px solid var(--accent);

        .container-nav {
            width: 100%;
            padding: 0rem 3rem;
            gap: 0;
            display: flex;
            justify-content: space-between;

            .logo {
                order: 1;
            }

            .theme-switch-wrapper {
                order: 3;
                transform: none;
                position: static;
            }

            .site__nav {
                order: 2;
                height: 100%;
                position: static;
                clip-path: none;
                display: flex;
                align-items: center;
                transform: none;
                padding: 0;

                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1.5rem;
                    border: none;
                    margin: 0;
                    padding: 0;
                    background: transparent;
                    width: auto;

                    li {
                        border: none;

                        a,
                        p {
                            margin: 0;
                            font-size: 1rem;
                            font-weight: 700;
                            color: $white;

                            &:hover,
                            &:focus,
                            &.active {
                                color: var(--title-menu) !important;
                                background: transparent !important;
                            }
                        }
                    }
                }
            }

            .menu-toggle {
                display: none;
            }
        }
    }

    footer {
        width: 100%;
        @include flexCenter(row);
        gap: 5rem;
        height: 5rem;

        p {
            text-align: left;
            color: $white;
            font-size: 1rem;
            padding: 0.25rem 0.5rem 0rem;

            a {
                text-decoration: none;
                color: $white;

                &:hover {
                    color: rgb(255, 131, 199);
                }
            }
        }

        div:nth-child(2),
        div:nth-child(3) {
            display: flex;
            gap: 0rem;
            align-items: flex-start;
            justify-content: center;
        }

        .fab,
        .fa-brands,
        .fa-square-behance,
        .behance {
            font-size: 1.8rem;
            color: white;

            &:hover {
                color: $light-pink;
            }
        }
    }

    .card-primary {
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 25rem;
        width: 20rem;

        h3 {
            text-align: center;
            font-size: 1.3rem;
            margin: 0rem auto;
            padding: 2rem 1rem;
        }

        .h3-con-boton {
            gap: 0.75rem;
        }

        p {
            padding: 1rem 1.5rem 0rem 1.5rem;
            margin-left: 0rem;
        }

        &::before {
            width: 20rem;
            height: 25rem;
            top: 0;
        }

        .btn {
            margin-top: 1rem;
        }
    }

    %card-primary-habilidad-img {
        height: 110px;
        object-fit: cover;
    }

    .img-front,
    .img-graph,
    .img-social {
        height: 200px;
        width: 90%;
    }

    .img-graph {
        width: 93%;
    }

    .card-primary-habilidad.design::before,
    .card-primary-habilidad.social::before {
        height: 25rem;
        width: 22rem;
    }

    .cards-expandibles {
        .card-secondary {
            p {
                padding: 0rem 0rem 0.5rem 2rem;
                margin-left: 0rem;
            }

            .texto-info {
                padding-top: 1rem;
                font-size: 0.85rem;
            }

            h3 {
                padding: 0rem 0rem 0.5rem 2rem;
                margin-left: 0rem;
            }
        }
    }

    .swiper-cards-secondary .swiper {
        width: 1024px;

        .swiper-button-prev {
            left: 26rem;
        }

        .swiper-button-next {
            left: 37rem;
        }
    }
}